.img-round{
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.cart{
    margin-top: 150px;
    position: sticky;
    padding: 30px 20px;
    border-radius: 10px;
    border: 10px;
    background-color: rgba(128, 128, 128, 0.027);
    box-shadow:10px 10px 10px 10px gray;
}

.icons{
    margin-top: 20px;
    padding-left: 5px;
}
.button-grp{
    display: flex;
    flex-direction: column;
}
.button-best{
    width: 50%;
    color: white;
    background-color: brown;
    border-radius: 10px;
    border: 0px;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
}
.button-choose-again{
    width: 50%;
    color: white;
    background-color: brown;
    border-radius: 10px;
    border: 0px;
    padding: 10px;
    cursor: pointer;
}
